/* Header */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  $duration: 0.5s;
  $ease: 'ease';

  @include vendor(
    'transition',
    ('transform #{$duration} #{$ease}', 'opacity #{$duration} #{$ease}')
  );

  @include breakpoint(medium) {
    font-size: 76%;
  }
  @include breakpoint(small) {
    font-size: 58%;
  }

  .container {
    display: flex;
    align-items: center;
    margin-bottom: 2.3em;
    justify-content: space-evenly;
  }

  h1 {
    font-size: 1.3em;
    margin-bottom: 0;
    line-height: 2;
    position: relative;
    font-family: _font(secondary);
    color: #00a4f0;
    text-transform: none;
    // &:after{
    // 	content: '';
    // 	display: inline-block;
    // 	width: 41px;
    // 	height: 41px;
    // 	background-color: #333;
    // 	position: absolute;
    // 	bottom: -36px;
    // 	left: -21px;
    // 	border-radius: 50%;

    // }
  }

  h2 {
    font-size: 3.6em;
    font-weight: _font('weight-bold-alt');
    color: #fff;
    text-transform: none;
    letter-spacing: 2px;
    margin-bottom: 0.4rem;
    line-height: 1;
  }
  h3 {
    font-size: 3.6em;
    font-weight: _font('weight-bold-alt');
    color: _palette(fg);
    text-transform: none;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    line-height: 1;
  }
  .sub-heading {
    font-size: 36px;
    margin: 0;
    line-height: 1.3;
    color: #444;
    padding-left: 20px;
    border-left: 1px solid;
  }

  p {
    max-width: 500px;
    font-size: 16px;
    margin: 0;
  }

  //margin-bottom: 10em;
}

body.is-loading {
  .hero {
    @include vendor('transform', 'scale(0.9)');
    opacity: 0;
  }
}


body.is-loading {
  #header {
    @include vendor('transform', 'scale(0.9)');
    opacity: 0;
  }
}

#header {
  @include padding(5em, 0, (3em, 0, -5em, 0));

  $duration: 0.5s;
  $ease: 'ease';

  @include vendor(
    'transition',
    ('transform #{$duration} #{$ease}', 'opacity #{$duration} #{$ease}')
  );


  &.hero {
    height: 100vh;
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    padding: 1em;
    background-color: _palette(fg-accent) !important;
  }

  &.site-header {
    background-color: _palette(bg) !important;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // -webkit-transition: all 0.15s ease-in-out;
    // transition: all 0.15s ease-in-out;
    //-webkit-transform: translate3d(0, 0, 0);
    //transform: translate3d(0, 0, 0);
    box-shadow: none;

    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    padding: 0 2.5em;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    @include breakpoint(small) {
      $gutter: _size(gutter) * 0.5;
      padding: 0 $gutter;
    }

    &.fixed {
      box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
    }

    .inner {
      // @include vendor('display', 'flex');
      // @include vendor('align-items', 'flex-start');
      // // @include vendor('justify-content', 'space-between');
      // @include vendor('flex-direction', 'column');
      max-width: 100%;
      text-align: center;
    }

    &.fixed {
      box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
    }

    &.hide-nav {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

  .logo {
    display: block;
    border-bottom: 0;
    font-weight: _font(weight-bold);
    letter-spacing: _font(letter-spacing);
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .symbol {
      margin-right: 0.65em;

      img {
        display: block;
        width: 2em;
        height: 2em;
      }
    }

    .title_container {
      display: flex;
      align-items: center;

      .title {
        // font-family: _font('secondary');
        font-size: 2.2em;
        font-weight: 700;
        border: 3px solid;
        display: inline-block;
        line-height: 1.1;
        padding: 1px 22px;
        border-radius: 26px;
        
      }
    }
  }

  nav {
    // position: fixed;
    // right: 2em;
    // top: 2em;
    z-index: _misc(z-index-base);

    ul {
      @include vendor('display', 'flex');
      @include vendor('align-items', 'center');
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: block;
        padding: 0;

        a {
          display: block;
          position: relative;
          height: 3em;
          line-height: 3em;
          padding: 0 1.5em;
          // background-color: transparentize(_palette(bg), 0.5);
          border-radius: _size(border-radius);
          border: 0;
          font-size: 1.4em;
          font-weight: _font(weight-bold);
          letter-spacing: _font(letter-spacing);
          text-transform: uppercase;

          @include breakpoint(small) {
            font-size: 1.2em;
          }
        }

        a[href='#menu'] {
          -webkit-tap-highlight-color: transparent;
          width: 4em;
          text-indent: 4em;
          font-size: 1em;
          overflow: hidden;
          padding: 0;
          white-space: nowrap;

          &:before,
          &:after {
            @include vendor(
              'transition',
              'opacity #{_duration(transition)} ease'
            );
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 2em 2em;
          }

          &:before {
            background-image: svg-url(
              '<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><style>line { stroke-width: 8px; stroke: #{_palette(accent1)}; }</style><line x1="0" y1="25" x2="100" y2="25" /><line x1="0" y1="50" x2="100" y2="50" /><line x1="0" y1="75" x2="100" y2="75" /></svg>'
            );
            opacity: 0;
          }

          &:after {
            background-image: svg-url(
              '<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><style>line { stroke-width: 8px; stroke: #{_palette(fg)}; }</style><line x1="0" y1="25" x2="100" y2="25" /><line x1="0" y1="50" x2="100" y2="50" /><line x1="0" y1="75" x2="100" y2="75" /></svg>'
            );
            opacity: 1;
          }

          &:hover {
            &:before {
              opacity: 1;
            }

            &:after {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  @include breakpoint(small) {
    @include padding(3em, 0, (1em, 0, -3em, 0));

    nav {
      ul {
        li {
          a[href='#menu'] {
            &:before,
            &:after {
              background-size: 1.5em 1.5em;
            }
          }
        }
      }
    }
  }
}

$d: 30px;

.yin-yang {
  display: flex;
  align-items: center;
  width: $d;
  height: $d;
  border-radius: 50%;
  background: linear-gradient(#3b4143 50%, _palette(accent1) 0);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  &:before,
  &:after {
    flex: 1;
    border: solid $d/6 _palette(accent1);
    height: $d/2;
    border-radius: 50%;
    background: #3b4143;
    content: '';
  }

  &:after {
    border-color: #3b4143;
    background: _palette(accent1);
  }
}
article .yin-yang {
  position: absolute;
  left: -43px;
  z-index: 1;
}
